<form>
    <div class="mb-3">
        <label for="inputTitle" class="form-label">Title</label>
        <input type="text" class="form-control" id="inputTitle" aria-describedby="titleHelp">
        <div id="titleHelp" class="form-text">Title is unique</div>
    </div>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Add a description here" id="floatingTextarea2"
            style="height: 100px"></textarea>
        <label for="floatingTextarea2">Description</label>
    </div>
</form>